
Rabbit Browser.xcodeproj/xcuserdata/gchriswill.xcuserdatad/xcschemes/xcschememanagement.plist

Rabbit Browser.xcodeproj/project.xcworkspace/xcuserdata/gchriswill.xcuserdatad/WorkspaceSettings.xcsettings

Rabbit Browser.xcodeproj/xcuserdata/gchriswill.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

Rabbit Browser.xcodeproj/xcuserdata/gchriswill.xcuserdatad/xcschemes/Rabbit Browser.xcscheme
